 * {
     margin: 0;
     top: 0;
     border: border-box;
 }

 .border {
     border: 1.7px solid transparent;
     padding: 8px;
 }

 .border:hover {
     border: 1.7px solid white;
 }

 .name {
     color: white;
     margin-bottom: 10px;
 }

 .navbar {
     background-color: #0F1111;
     color: white;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
 }

 /* Box1 styling */

 .nav-logo {
     height: 50px;
     width: 100px;
 }

 .logo {
     background-image: url("amazon_logo.png");
     height: 50px;
     width: 100%;
     background-size: cover;
     padding: 0;
 }
 #logo-border{
    border: 1.7px solid transparent;
    
 }
 #logo-border:hover {
    border: 1.7px solid white;
}


 /* Box2 styling */
 .add-icon {
     display: flex;
     align-items: center;
 }

 .add-1 {
     margin-left: 15px;
     color: #cccccc;
     font-size: 0.85rem;
 }

 .add-2 {
     margin-left: 4px;
     font-size: 0.85rem;
     font-weight: 700;
 }

 /* Box3 styling */

 .nav-search {
     display: flex;
     /* background-color: aquamarine; */
     width: 630px;
     height: 40px;
     /* align-items: center; */
     border-radius: 4px;
     justify-content: space-evenly;
     border: 2px solid transparent;
 }

 .nav-search:hover {
     border: 2px solid orange;
 }

 .srch-sel {
     background-color: #f3f3f3;
     width: 50px;
     text-align: center;
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
     border: none;

 }

 .srch-inp {
     width: 100%;
     font-size: 1rem;
     border: none;
 }

 .srch-ic {
     width: 45px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.3rem;
     background-color: #febd68;
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
     color: #0F1111;

 }

 /* Box4 styling */

 .nav-1 {
     font-size: 0.7rem;
 }

 .nav-2 {
     font-size: 0.85rem;
     font-weight: 700;

 }

 /* Box 5 styling */
 .nav-cart {
     font-size: 0.7rem;
 }

 .nav-cart i {
     font-size: 1.5rem;
 }

 /* Panel styling */

 .panel {
     display: flex;
     background-color: #222f3d;
     height: 40px;
     align-items: center;
     justify-content: space-evenly;
     color: white;
 }

 .panel-ops {
     width: 80%;
     font-size: 0.85rem;
 }

 .panel-ops p {
     display: inline;
     margin-left: 15px;
     border-bottom: 2px solid transparent;
     cursor: pointer;
 }

 .panel-ops p:hover {
     border-bottom: 2px solid white;
 }

 .panel-deals {
     font-size: 0.9rem;
     font-weight: 700;
 }

 /* Hero section */
 .hero {
     background-image: url(hero_image.jpg);
     height: 380px;
     background-size: cover;
     font-size: 0.85rem;
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }

 .hero-msg {
     background-color: white;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 85%;
     margin-bottom: 40px;
 }

 .hero-msg a {
     color: aqua;
     text-decoration: none;
 }

 /* shop section */
 .shop {
     display: flex;
     background-color: #e2e7e6;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .shop p {
     color: #3fdbbc;
 }

 .shop p:hover {
     color: #dd6641;
 }

 .box-con {
     margin-left: 10px;
     margin-right: 10px;
 }

 .box-con h2 {
     font-weight: 700;
 }

 .box {
     background-color: white;
     height: 400px;
     width: 23%;
     padding: 20px 0px 15px;
     margin-top: 15px;
 }

 .box-img {
     height: 300px;
     margin-top: 1rem;
     margin-bottom: 1rem;
     background-size: cover;
 }

 /* footer styling */
 footer {
     margin-top: 15px;
 }

 .foot-panel1 {
     background-color: #37475a;
     color: white;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 0.85rem;
 }

 .foot-panel1 a {
     text-decoration: none;
     color: white;
 }

 .foot-panel2 {
     background-color: #222f3d;
     color: white;
     display: flex;
     justify-content: space-evenly;
     height: 250px;
 }

 ul a {
     display: block;
     font-size: 0.85rem;
     margin-top: 10px;
     color: #dddddd;
 }

 ul p {
     font-size: 1.1rem;
 }

 ul {
     margin-top: 20px;
 }

 .foot-panel3 {
     background-color: #222f3d;
     border-top: 2px solid white;
     height: 80px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .logo {
     background-image: url("amazon_logo.png");
     height: 50px;
     width: 100px;
     background-size: cover;
 }
 .bg{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .bg-image{
    text-align: center;
    color: #dddddd;
    background-image: url(images.jpg);
    height: 500px;
    width: 80%;
    border: 2px solid black;
    background-size: cover;
 }
 h1{
    
    color: #fff;
    margin-top: 20px;
   
 }
 .btn{
    background-color: rgb(244, 218, 74);
    color:black;
    font-size: 23px;
    height: 48px;
    width: 80%;
    margin-top: 300px;
    
}
.panel-ops a{
    text-decoration: none;
    color: white;
}
.foot-panel1 a{
    text-decoration: none; 
}
    
 .btn a{
    text-decoration: none;
 } 
  