* {
    margin: 0;
    padding: 0;


}
.pad20{
    padding: 20px;
}
body {
    background-color: aliceblue;
}

.mar {
    display: flex;
    height: 1.75rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 220, 231);
    color: 000;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: 1.25rem;
}

div.mar h3 {
    background-color: rgb(242, 157, 157);
    color: 000;
    padding-right: 0.75rem;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.headsec {

    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.35rem solid #c34A2C;
    margin-top: 0.35rem;
    background-color: white;
    text-align: justify;
}

.logo {
    width: 100px;
}

img {
    background-size: cover;
    width: 150px;
}

.text1 {
    color: #0880a8;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 0;
}

h1 {
    color: #c34A2C;

    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 8px;
    font-size: 40px;
}

.text3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #212529;
    margin-bottom: 8px;
}



.name-section {
    width: 100%;
    text-align: center;

}

.nav-logo {
    height: 100px;
    width: 100px;
}

.nav-logo img {
    height: 150px;
}

 

.image-scr {
    height: auto;
    width: 100%;

}

.image-scr img {
    background-size: cover;
    width: 100%;
} 

/* for section part  */
.division1 {
    font-family: 'Bacasime Antique', serif;

    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around; 
    margin: 0 20px 0 20px;
    font: 300; 
    height: 310px;
}

.subdiv1a {
    width: 65%;
    height: auto;
    margin: 2px;
}
.mar-top35{
    margin-top: inherit;
}
@media(max-width:1100px){
    .subdiv1a {
        width: 50%;
        height: auto;
        margin:20px 10px;
    }
    .mar-top35{
        margin-top: 35px;
    }
    .division1{
        margin: 0;}

    }
  
 
@media(max-width:900px)
{
    .martop60{
        margin-top: -60px;
       }  
     
    .division1{
        margin: 0;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
     
    .subdiv1a {
        width: 80%;
        height: auto;
        margin:2px;

    }
    .heading{
        padding: 35px 5px 10px 5px;
    }
    
}
 
.mar-top2{
    margin-top: 50px;
}
.heading {
    padding: 10px 5px 10px 5px;
    margin: 0px 10px 0 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    border-bottom: 2.9px solid brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    z-index: 1;
}

p {
    padding: 12px 15px 12px 15px;
    font-weight: 700;

}

.mission {
    margin-top: 0px;
}

.subdiv2 {
    display: flex;
    justify-content: center;
    position: relative;
    top:30px;
}

.subdiv2 video {
    position: relative;
    margin: 30px 10px 40px 10px;
    height: 220px;
    width: auto;
}

/* For Section 2 */
.division2 {
    margin-top: 120px;
    height: auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.subdiv3-1 {
    margin: 15px;
    margin-top: 160px;
    box-shadow: 2px 2px 8px gray;
}
.boxshd{
    box-shadow: 2px 2px 8px gray; 
}
.mart0 {
    margin-top: 0;
    height: 350px;
}

.hgt {
    height: 280px;
}

.top {
    position: relative;
    top: -40px
}

#over {
    overflow: scroll;
}

.subdiv3-1a {
    height: 200px;
    width: 35%;

    margin: 10px;
    display: inline-block;
}

.subdiv3-1b {


    text-align: justify;
    height: 200px;
    width: 55%;
    padding: 20px 20px 20px 20px;
    margin: 2px 2px 2px 2px;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.details {
    padding: 10px 5px 10px 5px;

}

.details p {
    position: relative;
    top: 0;
}

.subdiv3-1b h4 {
    padding-left: 5px;
}


.pspt {

    position: relative;
    top: 3px;
    margin-left: 45%;
}

/* division 3 */

.subdiv3-2 {
    height: 300px;
    width: 100%;
    padding: 35px 2px 0px 0px;
    display: flex;
}

.subdiv3-2a {
    width: 50%;
    margin: 8px;
    box-shadow: 2px 2px 8px rgb(97, 89, 89);
}

.width100 {
    width: 100%;
    height: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 5s ease-in;
}

.div-btn {
    width: 300px;
    height: 55px;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    background-color: #838bb1;
    color: #fff;
    border: none;
    border-radius: 0.75rem;
}
.div-btn:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 10px black;
}

.division4 {
    display: flex;
    position: relative;
    top: 550px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid white;
}

.div4-1 {

    height: 420px;
    width: 50%;
    background-color: black;
    border-bottom: 3px solid red;
     
}

.head2 {
    position: relative;
    top: 0px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    padding: 4px 10px 4px 10px;


}

.head2 h3 {
    background-color: #2e2f31;
    text-align: center;
    color: #fff;
    font-weight: normal;
    box-shadow: 2px 2px 6px red;
    padding: 4px 10px 4px 10px;
}

marquee {
    text-align: center;
}

.marbtn {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    background-color: #c7ebd279;
}

.position {
    position: relative;
    top: 10px;
}

.exinfo {
    color: #fff;
    line-height: 2.4rem;
    font: 700;
    font-size: 1.2rem;
    position: relative;
    left: 35px;
}

.exinfo i {
    position: relative;
    right: 6px;

}

.social {
    font-size: 2rem;
    opacity: 1;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 5px 150px 5px 150px;
    transition: all 2s ease-in 0;
}

.social a {
    position: relative;
    left: 2px;
    top: 10px;
    font-size: 2rem;
    transition: all 2s ease-in 0;
}
.social:hover{
    .social a{
        color: rgb(138, 35, 35);
    }
   
}
.social a:hover{
    opacity: 1;
     
    transform: scale(1.3);

}

/* Map style */
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 350px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 350px;
}

.gmap_iframe {
    height: 350px !important;
}

/* footer */
.foot {
    position: relative;
    top: 530px;
    height: 50px;
    width: 100%;
    margin: 10px;
    box-shadow: 2px 2px 4px whitesmoke;
    background-color: #0e0d0d;
    color: white;
    font: 300;
    border-bottom: 2px solid red;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.foot a{
    color: rgb(148, 184, 231);
}
.blk{
    color: black;
}

 
@media(max-width:1150px){
    .headsec{
        height: 260px;
    }
}
@media(max-width:900px){
    .headsec{
        height: auto;
        display: flex;
        flex-direction: column;
         
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mar{
        display: none;
    }
}