h1 {
    text-align: center;
}

.container {
    position: relative;
    top: 70px;
    left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 400px;
    border: 5px solid rgb(114, 182, 167);
    flex-direction: row;
    background-color: azure;
    border-radius: 10px;
}

.item {
    border-radius: 20px;
    height: 100px;
    width: 100px;
    background-color: rgb(192, 187, 187);
    border: 4px solid rgb(15, 14, 14);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    transition: all 2s;
}

.item:hover {
    scale: 1.1;
    box-shadow: 5px 5px 8px rgba(202, 191, 44, 0.842);
}

.navbar {
    background-color: pink;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    border-radius: 10px;
    font-size: larger;
    font-weight: 600;
    border: 2px solid rgb(53, 101, 204);
    width: 900px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-item {
    position: relative;
    left: 20px;
    margin-left: 15px;
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    border-bottom: 2px solid red;
}