<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="posts">
      <h2>Here's your post details</h2>
      <h4>Post Id:<%= post.id %></h4>
      <h2 class="user">@<%= post.username %></h2>
      <h4 class="content">&nbsp;&nbsp;&nbsp;&nbsp;<%= post.content %></h4>
    </div>
  </body>
</html>
