.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
    @keyframes spin {
    0% {
    /* Set rotation to 0 degrees */
    transform: rotate(0deg);

    }
    100% {
    /* Set rotation to 360 degrees */
    transform: rotate(360deg);
    }
    } 
    .loader2{
        height: 100px;
        width: 100px;
        border: 15px solid rgb(185, 184, 183);
        border-top: 15px solid rgb(38, 171, 211);
        border-radius: 50%;
        animation: rotate 2s linear infinite;
    }
    @keyframes rotate {
        0%{
           transform: rotate(0deg);
        }
        25%{
            transform: rotate(90deg);
        }
        50%{
            transform: rotate(180deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }