.faces{
    display: inline-block;
}
.face{
    display: inline-block;
    position: relative;
    left: 100px;
    top: 50px;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: yellow;
}
.dot{
    border-radius: 45%;
    background-color: black;
    border: 1px solid rgb(182, 159, 159);
    height: 15px;
    width: 15px;
    position: relative;
    top: 15px;
    left: 15px;
    
}
.eye{
     
    position: absolute;
    
}
.face:hover{
     .item,.dot ,#left, #right{
        background-color:black;
         border: none;
     }
     

}
 

#left,#right{
    left: 95px;
    position: absolute;
    top: 105px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
}
#right{
    left: 250px;
}
.mouth{
    background-color: black;
    position: relative;
    top: 260px;
    left: 123px;
    border: 2px solid black;
    height: 40px;
    width: 165px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.flex{
    position: absolute;
}
.item{
    position: relative;
    left: 35px;
    display: inline-block;
    height: 40px;
    width: 15px;
    background-color: rgb(248, 248, 246);
    border:2px solid rgb(83, 70, 70);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}