.animation {
    display: flex;
}
.top{
    position: fixed;
    bottom: 10px;
    left: 370px;
}
 .head{
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    background-color: azure;
 }
.common {
    height: 200px;
    width: 200px;
    background-color: chocolate;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    transition: 2s ease-in;
}

#transition:hover {
    background-color: chartreuse;
    border-radius: 50%;
    margin-top: 300px;
    box-shadow: 8px 8px 16px black;
}


#rotate:hover {
    background-color: chartreuse;
    transform: rotate(45deg);
    margin-top: 250px;
    box-shadow: 8px 8px 16px black;
}

#scale:hover {
    background-color: chartreuse;
    transform: scale(1.2);
    border-radius: 50%;
    margin-top: 250px;
    box-shadow: 8px 8px 16px black;
}


#translate:hover {
    background-color: chartreuse;
    transform: translate(-200px, 10px);
    margin-top: 300px;
    box-shadow: 8px 8px 16px black;
}

#skew:hover {
    background-color: chartreuse;
    transform: skew(45deg);
    margin-top: 300px;
    box-shadow: 8px 8px 16px black;
}