*{
    font-family:'Courier New' ;
}
h1{
    color: #1b74e4;
}
#search{
    color: black;
    background-color: white;
}
.userbtn{
    background-color: aqua;
}
#searchbtn{
    background-color: black;
    color: white;
}